body {
    margin: 0;
}

/*-------Navigation------*/

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4797AE;
    
}


ul.nav li {
    float: left;
    
}

ul.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
}

ul.nav li a.active {
    background-color: white;
    color: #4797AE;
}

ul.nav li a:hover:not(.active) {
    background-color: white;
    color: #4797AE;
    
}

.logo {
    width: 250px;
    float: left;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 10%;
}


/*-------footer------*/




