
    body {

        
        margin: 0;
    }

#background-foto{}

/*---Login--*/

.Login{border: 3px solid #f1f1f1;}

border: 3px solid #f1f1f1;

form {
        border: 3px solid #f1f1f1;
    }
    
    .Login {margin-top:15%;
        position:fixed;
        width: 35%;
        background-color:white;
        margin-left: 35%;
    }
    
    #vul-in[type=text],
    #vul-in[type=password] {
        width: 96%;
        padding: 12px 4px;
        margin: 8px 0;
        margin-left: 2%;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    #login-button {
        background-color:rgb(94, 190, 216);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        margin-left: 2%;
        margin-right:2%;
        border: none;
        width: 96%;
    }
    
    .imgcontainer {
        text-align: center;
        margin: 5% 5% 5% 5%;
    }
    
    img.avatar {
        margin-bottom: 3%;
        margin-left: 3%;
        margin-right: 3%;
        width: 40%;
    }
    
    label b{margin-left:3%;}


 /*------------login-respinsive------------*/


 @media screen and (min-width:850px) {
     .Login {margin-top:10%;
        position:fixed;
        width: 25%;
        background-color:white;
        margin-left: 35%;
    }
    
}


 @media screen and (max-width:500px) {
     .Login {margin-top:15%;
        position:fixed;
        width: 50%;
        background-color:white;
        margin-left: 25%;
    }
    
}

   /*-------Navigation------*/

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4797AE;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
}

ul.nav li a.active {
    background-color: white;
    color: #4797AE;
}

ul.nav li a:hover:not(.active) {
    background-color: white;
    color: #4797AE;
}

.logo {
    width: 250px;
    float: left;
    padding-top: 23px;
    padding-left: 7%;
    padding-right: 0%;
}

.Nav-pos {
    padding-right: 5%;
    float: right;
}


/*-----Navigation mobiel-----*/

@media screen and (max-width:850px) {
    ul.nav-section {
        list-style-type: none;
        margin: 2%;
        margin-left: 5%;
        padding-left: 0%;
        overflow: hidden;
    }
    ul.nav li {
        float: left;
        width: 25%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        text-align: center;
    }
    ul.nav li a {
        width: 100%;
        display: inline-block;
        color: white;
        padding: 0;
        padding-top:10%;
        padding-bottom: 10%;
        margin: 0;
        text-align: center;
        text-decoration: none;
    }
    .Nav-pos {
        float: none;
        width: 100%;
        padding-right: 0%;
    }
    .logo {
        float: left;
        padding-left: 30%;
        padding-right: 30%;
        width: 40%;
    }
}

@media screen and (max-width:500px) {
    ul.nav-section {
        list-style-type: none;
        margin: 2%;
        margin-left: 5%;
        padding-left: 0%;
        overflow: hidden;
    }
    ul.nav li {
        float: none;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        padding-top: 0%;
        padding-bottom: 1%;
        text-align: center;
    }
    ul.nav li a {
        width: 100%;
        display: inline-block;
        color: white;
        padding: 0;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0%;
        text-align: center;
        text-decoration: none;
    }
    .Nav-pos {
        float: none;
        width: 100%;
        padding-right: 0%;
    }
    .logo {
        float: left;
        padding-left: 30%;
        padding-right: 30%;
        width: 40%;
    }
}

    /*------------buttons--------------*/
    
    ul.button-section {
        list-style-type: none;
        margin: 2%;
        margin-left: 5%;
        padding-left: 0%;
        overflow: hidden;
    }
    
    ul.button-section li {
        float: right;
        background-color: rgb(94, 190, 216);
        margin-bottom: 4%;
        margin-left: 1%;
        margin-right: 0%;
        padding: 2%;
        text-align: center;
    }
    
    ul.button-section li a {
        display: inline-block;
        color: white;
        text-align: center;
        text-decoration: none;
    }
    
    .button-pos {
        padding-right: 7%;
    }

/*------------hamburger menue--------------*/

.nav-hamburger{background-color:#4797AE;}

@media screen and (min-width:500px) {
    
    .nav-hamburger{display:none;}
    
    .logo-mobile{display: none;}
}

.logo-mobile{width:70%;
    margin-top:4%;
    margin-left:15%;
    padding:0%;
background-color:#4797AE;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4797AE;
}

ul.topnav li {float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: white;
color:#4797AE;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:500px) {
    nav{display:none;}
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:500px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

/*-------footer------*/

footer {
    margin-top: 5%;
    Background-color: #4797AE;
    padding-bottom: 30px;
    color: white;
}

.clearfix a {
    text-decoration: none;
    color: antiquewhite;
}

.rij-1 {
    float: left;
    width: 45%;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 7%;
    margin: 0;
}

.rij-2 {
    float: right;
    width: 130px;
    padding-right: 0px;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 10px;
}

.rij-2 a {
    color: white;
    text-decoration: underline;
}

.rij-3 {
    float: right;
    padding-left: 0%;
    margin-right: 7%;
    margin-top: 10px;
}

.clearfix a:hover {
    color: white;
    text-decoration: none;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.submit {
    background: white;
    border: solid 1px #00C9FF;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0;
}

.fotos-talen{margin-top:-15%;
margin-left:-32%;}

.fotos-talen ul{list-style-type: none;
    text-align: left;
display: inline-block;}

.fotos-talen ul li{display: inline-block;}



/*----Footer mobiel---*/

@media screen and (max-width:638px) {
     .rij-1 {
         width: 30%;
     }
     .rij-2 {width:110px;
         margin-right: 3%;
     }}
    @media screen and (max-width:500px) {
        .rij-1 {
            width: 100%;
            text-align: center;
            float: none;
            padding: 0;
            padding-top: 2%;
        }
        .rij-2 {
            width: 100%;
            text-align: center;
            float: none;
            padding: 0;
            margin: auto;
        }
        .rij-3 {
            width: 100%;
            text-align: center;
            float: none;
            padding: 0;
            margin: auto;
        }
    

.fotos-talen{margin-top:-4%;
margin-left:-10%}

.fotos-talen ul{list-style-type: none;
    text-align:center;
display: inline-block;}

.fotos-talen ul li{display: inline-block;
    text-align: center;}}
