    /*---body--*/

body {font-family: 'Nunito Sans', sans-serif;
    margin: 0;
}


/*-------Navigation------*/

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4797AE;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
}

ul.nav li a.active {
    background-color: white;
    color: #4797AE;
}

ul.nav li a:hover:not(.active) {
    background-color: white;
    color: #4797AE;
}

.logo {
    width: 250px;
    float: left;
    padding-top: 23px;
    padding-left: 7%;
    padding-right: 0%;
}

.Nav-pos {
    padding-right: 5%;
    float: right;
}


/*-----Navigation mobiel-----*/

@media screen and (max-width:850px) {
    ul.nav-section {
        list-style-type: none;
        margin: 2%;
        margin-left: 5%;
        padding-left: 0%;
        overflow: hidden;
    }
    ul.nav li {
        float: left;
        width: 25%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        padding-top: 0%;
        padding-bottom: 0%;
        text-align: center;
    }
    ul.nav li a {
        width: 100%;
        display: inline-block;
        color: white;
        padding: 0;
        padding-top:10%;
        padding-bottom: 10%;
        margin: 0;
        text-align: center;
        text-decoration: none;
    }
    .Nav-pos {
        float: none;
        width: 100%;
        padding-right: 0%;
    }
    .logo {
        float: left;
        padding-left: 30%;
        padding-right: 30%;
        width: 40%;
    }
}

@media screen and (max-width:500px) {
    ul.nav-section {
        list-style-type: none;
        margin: 2%;
        margin-left: 5%;
        padding-left: 0%;
        overflow: hidden;
    }
    ul.nav li {
        float: none;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 0%;
        padding-top: 0%;
        padding-bottom: 1%;
        text-align: center;
    }
    ul.nav li a {
        width: 100%;
        display: inline-block;
        color: white;
        padding: 0;
        padding-top: 2%;
        padding-bottom: 2%;
        margin: 0%;
        text-align: center;
        text-decoration: none;
    }
    .Nav-pos {
        float: none;
        width: 100%;
        padding-right: 0%;
    }
    .logo {
        float: left;
        padding-left: 30%;
        padding-right: 30%;
        width: 40%;
    }
}


/*-------main------*/

main {
    margin-left: 5%;
    margin-right: 5%;
}

.Uitleg-Project {
    background-color: #f7f7f7;
    padding-bottom: 5%;
    margin-top: 2.5%;
}

button {
    width: 40%;
    float: right;
}

.naam-project {
    margin: 0;
    margin-left: 6%;
}

hr {
    margin-left: 6%;
    background-color: black;
    width: 45%;
    height: 2px;
    border-radius: 2px;
    float: left;
}

.Uitleg {
    margin: 2%;
    padding-top: 2%;
}

.project-foto {
    position: relative;
    margin-left: 6%;
    width: 87.5%;
    height: 20%;
}

ul.button-section {
    list-style-type: none;
    margin: 2%;
    margin-left: 5%;
    padding-left: 0%;
    overflow: hidden;
}

ul.button-section li {
    float: left;
    background-color: rgb(94, 190, 216);
    width: 20%;
    margin-left: 1%;
    margin-right: 0%;
    padding: 2%;
    text-align: center;
}

ul.button-section li a {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.button-pos {
    padding-right: 5%;
}

.korte-beschrijving {
    margin-top: 5%;
    margin-left: 6%;
    width: 85%;
    float: right:
}

.Stap-1 {
    margin-top: 3%;
    margin-left: 6%;
}

.stap-2 {
    margin-top: 0%;
    margin-left: 6%;
}

.uitleg-foto {
    width: 85%;
    position: inherit;
    margin-left: 6%;
    margin-top: 2%;
    float: ;
    height: 40%;
}

.Stap-1-uitleg {
    margin-left: 6%;
    margin-top: 4.5%;
    width: 85%;
}

.uitleg-foto-1 {
    width: 85%;
    position: inherit;
    margin-left: 6%;
    margin-top: 2%;
    float: ;
    height: 40%;
}

.Stap-2-uitleg {
    margin-left: 6%;
    margin-top: 4.5%;
    width: 85%;
}

@media screen and (max-width:1000px) {
    ul.button-section-fullscreen {
        display: none;
    }
}


/*---Main fullscreen----*/

@media screen and (min-width:1000px) {
    main {
        width: 90%;
        background-color: #f7f7f7;
        margin-left: 5%;
        margin-right: 5%;
    }
    .Uitleg-Project {
        width: 75%;
        background-color: #f7f7f7;
        padding-bottom: 5%;
        margin-top: 2.5%;
    }
    .button-pos-full {
        position:absolute;
        width: 25%
    }
    ul.button-section-fullscreen {
        float: right;
        background-color: #f7f7f7;
        list-style-type: none;
        margin-right: 5%;
        margin-top: 5%;
        width: 28%;
        margin-left: 5%;
        padding-left: 0%;
        overflow: hidden;
    }
    ul.button-section-fullscreen li {
        background-color: rgb(94, 190, 216);
        width: 80%;
        margin-top: 4%;
        margin-left: 18%;
        margin-right: 0%;
        padding-top: 3%;
        padding-bottom: 3%;
        text-align: center;
    }
    ul.button-section-fullscreen li a {
        display: inline-block;
        color: white;
        text-align: center;
        text-decoration: none;
    }
    .upload-eigen-project {
        margin-right:30%;
        background-image: url(Images/upload%20icon.png);
        background-repeat: no-repeat;
        background-position: center;
        margin-left:7%;
        margin-top:2%;
        width: 86%;
        height:13em;
    }
    ul.button-section {
        display: none;
        list-style-type: none;
        margin: 2%;
        margin-left: 5%;
        padding-left: 0%;
        overflow: hidden;
    }
}


/*---Main mobiel----*/

@media screen and (max-width:500px) {
    ul.button-section {
        list-style-type: none;
        margin: 02%;
        width: 88%;
        margin-left: 6%;
        margin-right: 0;
        padding-left: 0%;
        overflow: hidden;
    }
    ul.button-section li {
        float: none;
        background-color: rgb(94, 190, 216);
        width: 100%;
        margin-top: 3%;
        margin-left: 0%;
        margin-right: 0%;
    }
    ul.button-section li a {
        display: block;
        color: white;
        padding-top: 2%;
        padding-bottom: 2%;
        text-align: center;
        text-decoration: none;
    }
    .button-pos {
        padding-right: 0%;
    }
}


/*-----Comment sectie------*/

.Comment-sectie {
    background-color: #f7f7f7;
    padding-bottom: 5%;
    margin-top: 2.5%;
}

.comments {
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 2%;
}

.title-comments {
    margin-top: 0%;
}

.line-under-title1 {
    margin: 0%;
    padding: 0%;
}

.comment {
    width: 90%;
    padding: 5%;
    background-color: white;
}

.gebruikers-foto {
    width: 20%;
    height: 20%;
}

.comment-gebruiker {
    float: right;
    width: 50%;
    margin-right: 2%;
    border-right-color: black;
    border-width: 2px;
    margin-top: -4%
}

.views {
    width: 0%;
    border-left-width: 1px;
    border-left-style: inset;
    border-color: black;
    margin-right: 25%;
    float: right;
    margin-top: -1em;
}

.eye-icon {
    width: 4%;
    background-image: url(Images/eye.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    position: absolute;
    margin-top: 15px;
    height: 4%;
}

.calendar-icon {
    width: 4%;
    background-image: url(Images/calendar.png);
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    position: absolute;
    margin-top: 15px;
    height: 4%;
}

.views li {
    padding: 20px;
    display: inline-block;
    margin-left: 2em;
}

.comment1 {
    width: 90%;
    border-color: grey;
    padding: 5%;
    background-color: #EDEDED;
}

.comment2 {
    width: 90%;
    padding: 5%;
    background-color: white;
}

.Antwoord {
    width: 90%;
    padding: 5%;
    background-color: white;
}

.Antwoord form {
    text-align: left;
}

#Comment-text {
    width: 100%;
    background-color: #EDEDED;
    height: 10em;
}

#comment-knop {color:white;
    width: 20%;
    border: none;
    background-color: rgb(94, 190, 216);
    height: 30px;
}


/*-------comment sectie fullscreen------*/

@media screen and (min-width:1000px) {
    .Comment-sectie {
        width: 65%;
        background-color: #f7f7f7;
        padding-bottom: 5%;
        margin-top: 0%;
        padding-top:0;
    }
}

@media screen and (max-width:1400px) {
    .title-comments {
        margin-top: 0%;
    }
    .line-under-title1 {
        margin: 0%;
        padding: 0%;
    }
    .comment {
        width: 90%;
        height: 10em;
        padding: 5%;
        background-color: white;
    }
    .gebruikers-foto {
        width: 17%;
        margin-top: 0%;
        height: auto;
    }
    .views {
        width: 0%;
        height: 110%;
        border-left-width: 1px;
        border-left-style: inset;
        border-color: black;
        margin-right: 27%;
        float: right;
        padding-top: 1em;
    }
    .comment1 {
        width: 90%;
        height: 10em;
        border-color: grey;
        padding: 5%;
        background-color: #EDEDED;
    }
    .comment2 {
        width: 90%;
        height: 10em;
        padding: 5%;
        background-color: white;
    }
}

@media screen and (max-width:1300px) {
    .comment {
        width: 90%;
        height: auto;
        padding: 5%;
        background-color: white;
    }
    .gebruikers-foto {
        width: 25%;
        height: auto;
    }
    .comment-gebruiker {
        float: none;
        width: 100%;
        margin-right: 2%;
        border-right-color: black;
        border-width: 2px;
        margin-top: -4%
    }
    .views {
        width: 30%;
        border: none;
        margin-right: 2%;
        float: right;
        margin-top: -3em;
    }
    .comment1 {
        width: 90%;
        height: auto;
        border-color: grey;
        padding: 5%;
        background-color: #EDEDED;
    }
    .comment2 {
        width: 90%;
        height: auto;
        padding: 5%;
        background-color: white;
    }
}


/*-------comment sectie mobiel------*/

@media screen and (min-width:900px) {
    .title-comments {
        margin-top: 0%;
    }
    .line-under-title1 {
        margin: 0%;
        padding: 0%;
    }
    .comment {
        width: 90%;
        height: 10em;
        padding: 5%;
        background-color: white;
    }
    .gebruikers-foto {
        width: 17%;
        margin-top: 0%;
        height: auto;
    }
    .views {
        width: 0%;
        height: 110%;
        border-left-width: 1px;
        border-left-style: inset;
        border-color: black;
        margin-right: 27%;
        float: right;
        padding-top: 1em;
    }
    .comment1 {
        width: 90%;
        height: 10em;
        border-color: grey;
        padding: 5%;
        background-color: #EDEDED;
    }
    .comment2 {
        width: 90%;
        height: 10em;
        padding: 5%;
        background-color: white;
    }
}

@media screen and (min-width:800px) {
    .comment {
        width: 90%;
        height: auto;
        padding: 5%;
        background-color: white;
    }
    .gebruikers-foto {
        width: 25%;
        height: auto;
    }
    .comment-gebruiker {
        float: none;
        width: 100%;
        margin-right: 2%;
        border-right-color: black;
        border-width: 2px;
        margin-top: -4%
    }
    .views {
        width: 30%;
        border: none;
        margin-right: 2%;
        float: right;
        margin-top: -3em;
    }
    .comment1 {
        width: 90%;
        height: auto;
        border-color: grey;
        padding: 5%;
        background-color: #EDEDED;
    }
    .comment2 {
        width: 90%;
        height: auto;
        padding: 5%;
        background-color: white;
    }
}

@media screen and (max-width:550px) {
    .views {
        width: 0%;
        border: none;
        margin-right: 45%;
        float: right;
        margin-top: -3em;
    }
}

@media screen and (max-width:500px) {
    .views {
        width: 0%;
        border: none;
        height: auto;
        margin-left: -2em;
        float: none;
        margin-top: -2em;
    }
}


/*-------footer------*/

footer {
    margin-top: 5%;
    Background-color: #4797AE;
    padding-bottom: 30px;
    color: white;
}

.clearfix a {
    text-decoration: none;
    color: antiquewhite;
}

.rij-1 {
    float: left;
    width: 45%;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 7%;
    margin: 0;
}

.rij-2 {
    float: right;
    width: 130px;
    padding-right: 0px;
    margin-right: 0%;
    margin-left: 0%;
    margin-top: 10px;
}

.rij-2 a {
    color: white;
    text-decoration: underline;
}

.rij-3 {
    float: right;
    padding-left: 0%;
    margin-right: 7%;
    margin-top: 10px;
}

.clearfix a:hover {
    color: white;
    text-decoration: none;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.submit {
    background: white;
    border: solid 1px #00C9FF;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0;
}

.fotos-talen{margin-top:-15%;
margin-left:-32%;}

.fotos-talen ul{list-style-type: none;
    text-align: left;
display: inline-block;}

.fotos-talen ul li{display: inline-block;}



/*----Footer mobiel---*/

@media screen and (max-width:638px) {
     .rij-1 {
         width: 30%;
     }
     .rij-2 {width:110px;
         margin-right: 3%;
     }}
    @media screen and (max-width:500px) {
        .rij-1 {
            width: 100%;
            text-align: center;
            float: none;
            padding: 0;
            padding-top: 2%;
        }
        .rij-2 {
            width: 100%;
            text-align: center;
            float: none;
            padding: 0;
            margin: auto;
        }
        .rij-3 {
            width: 100%;
            text-align: center;
            float: none;
            padding: 0;
            margin: auto;
        }
    

.fotos-talen{margin-top:-4%;
margin-left:-10%}

.fotos-talen ul{list-style-type: none;
    text-align:center;
display: inline-block;}

.fotos-talen ul li{display: inline-block;
    text-align: center;}}

/*------------hamburger menue--------------*/

.nav-hamburger{background-color:#4797AE;}

@media screen and (min-width:500px) {
    
    .nav-hamburger{display:none;}
    
    .logo-mobile{display: none;}
}

.logo-mobile{width:70%;
    margin-top:4%;
    margin-left:15%;
    padding:0%;
background-color:#4797AE;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4797AE;
}

ul.topnav li {float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: white;
color:#4797AE;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:500px) {
    nav{display:none;}
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:500px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}