

.buttons-below li{display: inline-block;
    padding:0;
    width:0em;
    margin-left:0%;}
.buttons-below li a{width:30px;
              height:30px;
              padding:0;
            margin-top:-1em;
    margin-bottom: -.5em;
              background-image:url(spritesheet-buttons-below.png);
              text-indent: -9999px;
              background-size:320% 280%;
              display:inline-block;}
              
            
            a.like1{display:inline-block;
            background-position: -10px -10px;}
            a.like1:hover{background-position: -10px -42px;}
            .like1{margin-left:-13em;}    

            a.comment{display:inline-block;
                margin-left:1px;
            background-position: 62.5px -8px; }
            a.comment:hover{background-position: 62.5px 44px;}
            
            a.share{display:inline-block;
                margin-right:8em ;
                background-position: 36px -8px;}
            a.share:hover{background-position: 36px 44px;}
            .share{margin-left:3em}


body {
             font-family: 'Nunito Sans', sans-serif;
     margin: 0;
 }
 /*-------Navigation------*/
 
 ul.nav {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color: #4797AE;
 }
 
 ul.nav li {
     float: left;
 }
 
 ul.nav li a {
     display: inline-block;
     color: white;
     text-align: center;
     padding: 40px 30px;
     text-decoration: none;
 }
 
 ul.nav li a.active {
     background-color: white;
     color: #4797AE;
 }
 
 ul.nav li a:hover:not(.active) {
     background-color: white;
     color: #4797AE;
 }
 
 .logo {
     width: 250px;
     float: left;
     padding-top: 23px;
     padding-left: 7%;
     padding-right: 0%;
 }
 
 .Nav-pos {
     padding-right: 5%;
     float: right;
 }
 

 /*-------menue mobile------*/
 @media screen and (max-width:850px) {
     ul.nav-section {
         list-style-type: none;
         margin: 2%;
         margin-left: 5%;
         padding-left: 0%;
         overflow: hidden;
     }
     ul.nav li {
         float: left;
         width: 25%;
         margin-left: 0%;
         margin-right: 0%;
         margin-top: 0%;
         margin-bottom: 0;
         padding-top: 0%;
         padding-bottom: 0%;
         text-align: center;
     }
     ul.nav li a {
         width: 100%;
         display: inline-block;
         color: white;
         padding: 0;
         padding-top: 10%;
         padding-bottom: 10%;
         margin: 0;
         text-align: center;
         text-decoration: none;
     }
     .Nav-pos {
         float: none;
         width: 100%;
         padding-right: 0%;
     }
     .logo {
         float: left;
         padding-left: 30%;
         padding-right: 30%;
         width: 40%;
     }
 }
 
 @media screen and (max-width:500px) {
     ul.nav-section {
         list-style-type: none;
         margin: 2%;
         margin-left: 5%;
         padding-left: 0%;
         overflow: hidden;
     }
     ul.nav li {
         float: none;
         width: 100%;
         margin-left: 0%;
         margin-right: 0%;
         margin-top: 0%;
         padding-top: 0%;
         padding-bottom: 1%;
         text-align: center;
     }
     ul.nav li a {
         width: 100%;
         display: inline-block;
         color: white;
         padding: 0;
         padding-top: 2%;
         padding-bottom: 2%;
         margin: 0%;
         text-align: center;
         text-decoration: none;
     }
     .Nav-pos {
         float: none;
         width: 100%;
         padding-right: 0%;
     }
     .logo {
         float: left;
         padding-left: 30%;
         padding-right: 30%;
         width: 40%;
     }
 }
 /*-------main------*/
 
 main {
     height: auto;
     margin-left: 5%;
     margin-right: 5%;
     margin-top: 2.5%;
     background-color: #f7f7f7;
 }

#nextpage{float:left;
    width:70%;
         margin-left:147%;
     margin-top:0em;}

#previouspage{float:left;
    width:70%;
         margin-top:0%;
         margin-left:-117%;}

 @media screen and (max-width:859px) {
     #nextpage{float:left;
    width:70%;
         margin-left:138%;
     margin-top:-3.5em;}}

@media screen and (max-width:859px) {
     #previouspage{float:left;
    width:70%;
         margin-top:0%;
         margin-left:0%;}}

@media screen and (max-width:500px) {
     #nextpage{float:left;
         margin-top:0em;
    width:45%;
         margin-left:10%;}}
@media screen and (max-width:500px) {
     #previouspage{float:left;
         margin-top:0;
    width:45%;
         margin-left:0%;}}

.main-deel{margin:6%;
height:90em;}

 .Projecten {
     margin-left: 2%;
     margin-right: 2%;
     padding-top: 1%;
 }
 
 .naam-project {
     margin: 0;
 }
 
 hr {
     background-color: black;
     width: 40%;
     height: 2px;
     border-radius: 2px;
     float: left;
 }

button {
        background-color:rgb(94, 190, 216);
        color: white;
        padding: 14px 20px;
        margin: 0;
        margin-left: 2%;
        border: none;
        float: right;
        width: 30%;
    }

.short-menue {
    margin-top:5%;
    padding-right: 5%;
} 

.short-menue img{Width:30%;
    float: left;
    margin-bottom:5%;
    margin-left:37%;
padding-right:20%;}

.short-menue ul {
    list-style-type: none;
    margin: 2%;
    margin-left: 5%;
    padding-left: 0%;
    overflow: hidden;
}

.short-menue ul li {
    float: left;
    width: 20%;
    height:5em;
    margin-left: 1%;
    margin-right: 0%;
    padding: 2%;
    text-align: center;
}

.short-menue ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    text-decoration: none;
}

 .boven {padding-top:16px;
     width: 30%;
     float: left;
 }
 
 .boven img {
     float: left;
     margin-left: 0;
     ;
     margin-right: 0;
     ;
     margin-bottom: 4%;
     width: 100%;
     height: 50%;
 }
 
 .rechts {padding-top:0%;
     width: 30%;
     float: right;
 }
 
 .rechts img {
     float: left;
     margin-left: 0;
     ;
     margin-right: 0;
     ;
     margin-bottom: 4%;
     width: 100%;
     height: 50%;
 }
 
 .midden {margin-left:5%;
     float: left;
     padding: 0;
     width: 30%;
 }
 
 .midden img {
     float: left;
     margin-left: 0;
     ;
     margin-right: 0;
     ;
     margin-bottom: 4%;
     width: 100%;
     height: 50%;
 }
 
 figcaption { margin-left:5%;
     color: black;
     text-align: left;
 }
 
.boven figure {margin-left:0;
    margin-top:0;
     border-width: 5px;
     border-color: black;
     background-color: white;
     width: 100%;
     height:25;
    padding-bottom:.1%;
     text-align: center;
 }
 
 .midden figure {
     margin-left: 0%;
     border-width: 5px;
     border-color: black;
     background-color: white;
     width: 100%;
     height: 25%;
     text-align: center;
 }
 
 .rechts figure {margin-left: 0%;
     margin-right:500%;
     border-width: 5px;
     border-color: black;
     background-color: white;
     width: 100%;
     height: 25%;
     text-align: center;
 }
 
 .titel-lijn {
     background-color: black;
     width: 99%;
     height: 1px;
     border-radius: 2px;
     float: left;
 }
 
 figure .like {
     margin-left: 10%;
     float: left;
     width: 20px;
     height: 20px;
 }
 
 figure .share {
     float: none;
     width: 20px;
     height: 20px;
 }
 
 figure .comment {
     margin-right: 10%;
     float: right;
     width: 20px;
     height: 20px;
 }

@media screen and (max-width:1000px) {
    
    .short-menue-full-test{display:none;}
    
    .short-menue-full h4{display:none;}
}

/*---Main fullscreen----*/

@media screen and (min-width:1000px) {
    main {
     height: auto;
     margin-left: 5%;
     margin-right: 5%;
     margin-top: 2.5%;
     background-color: #f7f7f7;
    }

    .main-deel{width:75%;
    margin:4%}

    #uploaden-full {float:right;
        background-color:rgb(94, 190, 216);
        color: white;
        padding: 14px 20px;
        margin-right: em;
        border: none;
        float: right;
        width: 80%;
    }
    
    
    #uploaden-full img{padding-bottom:10%;
        padding-right:5%;
        margin-left:4%;}
    
    .short-menue-full-test{float:right;
        margin-top:7%;
        margin-right:5%;
        width:20%;
    }

    .short-menue-full {
        text-align: center;
        float:none;
    margin-top:0%;
        padding:0;
        width:100%;
    margin-left:-14%;
} 

.short-menue-full img{Width:30%;
    float: none;
    margin-bottom:5%;
    margin-left:33%;
padding-right:30%;}

.short-menue-full ul {text-decoration: none;
    list-style-type: none;
    margin: 2%;
    margin-left: 5%;
    padding-left: 0%;
    overflow: hidden;
}

.short-menue-full ul li {
    text-decoration: none;
    float: right;
    width: 50%;
    height:5em;
    margin-left: 1%;
    margin-right: 0%;
    padding: 2%;
    text-align: center;
}
    
    
.short-menue-full ul li a {
    text-decoration: none;
    color: black;
}
    
    .short-menue h4{display: none;}
    
    
    .short-menue ul li {display: none;
}

    #uploaden{display: none;}
    
    .midden {margin-left:3.2%;
        margin-top:-4em;
     float: left;
     padding: 0;
        width: 30%;}
    
       .boven {padding-top:16px;
     width: 30%;
           margin-top:-4em;
     float: left;
 }
    
    .rechts {padding-top:0%;
        margin-top:-4em;
     width: 30%;
     float: right;
 }
    
    
}
    
/*---Main mobile----*/

@media screen and (max-width:850px) {
    .boven {display: none;
 }
 
.midden {width: 48%;
    margin-left:0%;}
    
    .rechts{width:48%;}}

    
@media screen and (max-width:500px) {
    .boven {display: none;
 }
    
.rechts{display:none;}
 
.midden {width: 90%;
    margin-left:5%;}

button {
        background-color:rgb(94, 190, 216);
        color: white;
        padding: 14px 20px;
        margin: 0;
        margin-left: 2%;
        border: none;
        float: none;
        width: 96%;
    margin-top:2%;
    }

.short-menue ul li {
    float: left;
    width: 30%;
    height:5em;
    margin-left: 10%;
    margin-right: 5%;
    padding: 2%;
    text-align: center;
}
    
 
    
}

 /*-------footer------*/
 
 footer {
     margin-top: 5%;
     Background-color: #4797AE;
     padding-bottom: 30px;
     color: white;
 }
 
 .clearfix a {
     text-decoration: none;
     color: antiquewhite;
 }
 
 .rij-1 {
     float: left;
     width: 45%;
     padding-top: 10px;
     padding-right: 20px;
     padding-left: 7%;
     margin: 0;
 }
 
 .rij-2 {
     float: right;
     width: 130px;
     padding-right: 0px;
     margin-right: 0%;
     margin-left: 0%;
     margin-top: 10px;
 }

.rij-2 a {
    color: white;
    text-decoration: underline;
}

 .rij-3 {
     float: right;
     padding-left: 0%;
     margin-right: 7%;
     margin-top: 10px;
 }
 
 .clearfix a:hover {
     color: white;
     text-decoration: none;
 }
 
 .clearfix:after {
     content: " ";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
 }

.submit {
    background: white;
    border: solid 1px #00C9FF;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 0;
}

 
 @media screen and (max-width:638px) {
     .rij-1 {
         width: 30%;
     }
     .rij-2 {width:110px;
         margin-right: 3%;
     }}
     @media screen and (max-width:500px) {
         .rij-1 {
             width: 100%;
             text-align: center;
             float: none;
             padding: 0;
             padding-top: 2%;
         }
         .rij-2 {
             width: 100%;
             text-align: center;
             float: none;
             padding: 0;
             margin: auto;
         }
         .rij-3 {
             width: 100%;
             text-align: center;
             float: none;
             padding: 0;
             margin: auto;
         }}

/*------------hamburger menue--------------*/

.nav-hamburger{background-color:#4797AE;}

@media screen and (min-width:500px) {
    
    .nav-hamburger{display:none;}
    
    .logo-mobile{display: none;}
}

.logo-mobile{width:70%;
    margin-top:4%;
    margin-left:15%;
    padding:0%;
background-color:#4797AE;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4797AE;
}

ul.topnav li {float: left;
}

ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}

ul.topnav li a:hover {background-color: white;
color:#4797AE;}

ul.topnav li.icon {display: none;}

@media screen and (max-width:500px) {
    nav{display:none;}
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:500px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}