body {
    margin: 0;
}


/*-------Navigation------*/

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4797AE;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
}

ul.nav li a.active {
    background-color: white;
    color: #4797AE;
}

ul.nav li a:hover:not(.active) {
    background-color: white;
    color: #4797AE;
}

.logo {
    width: 250px;
    float: left;
    padding-top: 23px;
    padding-left: 20px;
    padding-right: 10%;
}

.Nav-pos {
    float: right
}


/*-------footer------*/

table {
    background-color: #4797AE;
    color: white;
}

th {
    color: white;
    text-align: left;
}

.Newsletter {
    width: 60%;
    padding-left: 7%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 2%;
}

.About-us {
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 2%;
}

.Find-us {
    width: 20%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 2%;
}

.Subscribe {
    padding-left: 7%;
    font
}

.Who-are-we {
    color: white;
    text-align: left;
}

.Help {
    color: white;
    padding-top: 0%;
    text-align: left;
}

.Language {
    font-size: 20px;
    font-weight: bold;
}

.Contact {
    color: white;
    text-align: left;
}

table {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
}

tfoot td {
    color: orange;
    text-align: left;
}

.Icons {
    margin-top: 5px
}

.E-mail {
    padding-left: 11.4%;
}

.Invulvak {
    padding-left: 6.9%;
}

.Send {
    padding-left: 6.8%;
    padding-top: 5px;
}

.Rights {
    padding-left: 7%;
    padding-bottom: 2px;
    color: white;
    padding-right: 7%;
    background-color: #4797AE;
    padding-top: 15px;
}
