body {
    margin: 0;
}


/*-------Navigation------*/

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4797AE;
}

ul.nav li {
    float: left;
}

ul.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 40px 30px;
    text-decoration: none;
}

ul.nav li a.active {
    background-color: white;
    color: #4797AE;
}

ul.nav li a:hover:not(.active) {
    background-color: white;
    color: #4797AE;
}

.logo {
    width: 250px;
    float: left;
    padding-top: 23px;
    padding-left: 7%;
    padding-right: 0%;
}

.Nav-pos {padding-right: 5%;
    float: right
}


/*-------footer------*/

footer{Background-color:#4797AE;
padding-bottom:30px;
color:white;}

.clearfix a {
  text-decoration: none;
  color: antiquewhite;
}



.rij-1 {
  float: none;
  width: 20%;
  padding-top:10px;
  padding-right: 20px;
  padding-left: 7%;
  margin-top: 0px;
  box-sizing: border-box;
}

.rij-2 {
  float: right;
    margin-right: 10%;
  padding-left: 0%;
    margin-right:%;
  margin-top: 10px;
  box-sizing: border-box;
}

.rij-3 {
  float: right;
  width:95px;
    padding-right:0px;
    margin-right:5%;
  margin-left: 0%;
  margin-top: 10px;
  box-sizing: border-box;
}

.clearfix a:hover {
  color: white;
  text-decoration: none;
}


.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

hr{display: none;}

/*
@media screen and (max-width:1236px){
    .rij-2 { margin-left: 45%;
}
}


@media screen and (max-width:1108px){
    .rij-2 { margin-left: 40%;
}
}

@media screen and (max-width:1003px){
    .rij-2 {margin-left:35%;
}
}

@media screen and (max-width:910px){
    .rij-2 {margin-left:25%;
}
}

*/
@media screen and (max-width:850px){
    .Nav-pos {float:none;
        text-align: center;
        width:100%;
        margin:0 auto;
        padding-right:0%;
        padding-left:0%;
}
.logo {float: left;
    padding-left: 30%;
    padding-right:30%;
    width: 40%;
}
}

@media screen and (max-width:807px){
   .Nav-pos {float: none;
       text-align: center;
        width:100%;
        margin:0 auto;
        padding-right:0%;
        padding-left:0%;
}
/*
@media screen and (max-width:782px){
    .rij-2 {margin-left:15%;
}
}

@media screen and (max-width:657px){
    .rij-2 {margin-left:0%;
}
}

@media screen and (max-width:550px){
    .rij-1{float:none;
        width:70%;
    padding:0;}
    .rij-2 {float:none;
        width:70%;
    padding:0;}
    .rij-3{float:none;
    padding:0;}
    .rijen{margin-left:25%;
             padding-top:10px;}
    hr{display:block}
}
*/